:root{
    --font:'Lato', sans-serif;
    --colorbutton: #0095F6;
    --bg: #FAFAFA;
    --container: #FFFFFF;
}

/* globals */

html {
    font-size: 62.5%;
    box-sizing: border-box; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 65vh;
    background-color: var(--bg);
}
img {
    max-width: 100%;
    display: block;

}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 35rem;
    height: 40rem;
    border-color: #DBDBDB;
    border-style: solid;
    border-width: 1px;
    background-color: var(--container);
    padding: 2rem 0 2rem 0;
    

}
.logo {
    max-width: 170px;
    margin: 2rem 0 2rem 0;
}
.login{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.user {
    appearance: none;
}
.password {
    appearance: none;
}
.submit{
    background-color: var(--colorbutton);
    border: none;
    font-size: 1rem;
    font-family: var(--font);
    color: #FFFFFF;
    padding: 1rem;
    transition: background-color .5s ease;
    border-radius: 1rem;
    width: 19rem;
    height: 2px;

}
.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}




.phone {

    background-image: url(/img/phone.png);
    background-repeat: no-repeat;
    background-size: cover;
}